{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">

			<!---- NavBar ----->
			{% include 'partials/_nav.html' %}

			<!---- End NavBar ----->
            <h1 class="mt-4 mb-3">Vídeo Aperitivo</h1>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/chRPSvKwagU" title="YouTube video player"
			frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen>
			</iframe>
        </div>

    </div>
</div>



{% endblock content %}