[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pytest-django = "*"
pytest = "*"
python-decouple = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
collectfast = "*"
django-debug-toolbar = "*"
sentry-sdk = "*"
dj-database-url = "*"
django-ordered-model = "*"
atomicwrites = "*"

[dev-packages]
flake8 = "*"
pytest-cov = "*"
codecov = "*"
model-mommy = "*"

[requires]
python_version = "3.10"
